.lightbox-nav .btn-group {
  margin: 0 ($font-size-base / 2);
}

.lightbox-image-details {
  margin-bottom: $small-gutter-width;
  text-align: center;

  span {
    display: inline-block;
    margin: 0 $small-gutter-width / 2;
    white-space: nowrap;
  }
}
