/*! Refiler */

@import "../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/_variables.scss";
@import "compass/css3";
@import "compass/css3/user-interface";

$small-gutter-width: 8px;
$large-gutter-width: 20px;

$side-bar-width: 176px;
$perfect-scrollbar-width: 8px;

///////////////////////////////////////////////////////////// media query mixins

@mixin xxs {
  @media (max-width: $screen-xs-min - 1) {
    @content;
  }
}

@mixin xs {
  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-min - 1) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
    @content;
  }
}

@mixin md {
  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $screen-lg-min) {
    @content;
  }
}

@mixin xxs-xs {
  @media (max-width: $screen-sm-min - 1) {
    @content;
  }
}

@mixin sm-md-lg {
  @media (min-width: $screen-sm-min) {
    @content;
  }
}

///////////////////////////////////////////////////////////////////////// layout

body {
  font-size: $font-size-base;
}

a {
  cursor: pointer;
}

h1 {
  padding: 0;
}

::selection {
  background-color: #000;
  color: #fff;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
}

//////////////////////////////////////////////////////////////// general classes

.unselectable {
  @include user-select(none);
}

.stack { // element stacked in the main layout
  margin-top: 0;
  margin-bottom: $large-gutter-width;
}

.selected {
  background-color: #f0ad4e;
}

.details {
  color: #888;
  font-size: 10px;
  line-height: 1.3;
  vertical-align: middle;
}

////////////////////////////////// side bar navigation in sm, md, and lg layouts

#side-bar {
  position: fixed;
  display: inline-block;
  width: $side-bar-width;
  height: 100%;

  @include xxs-xs {
    display: none;
  }

  #nav-list-filter {
    width: 100%;
    height: 26px;
  }

  #nav-list-container {
    position: fixed;
    top: 26px;
    bottom: 0;
    // perfect-scrollbar is placed outside #side-bar
    width: $side-bar-width + $perfect-scrollbar-width;
    overflow: hidden;

    h2 {
      width: $side-bar-width;
      margin: 0;
      padding:
        ($small-gutter-width / 2)
        0
        ($small-gutter-width / 2)
        $small-gutter-width;
      background-color: #e0e2e6;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      font-size: 1em;
    }

    ul {
      overflow: hidden;
      width: $side-bar-width;
      white-space: nowrap;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      background-color: #f0f2f6;
      line-height: 1.25;

      a {
        padding: 0 0 0 $small-gutter-width;
        color: #000;

        &:hover, &:focus, &:active {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}

///////////////////////////////////// full page navigation in xxs and xs layouts

#content {
  #nav-list-filter {
    width: 90%;
  }

  #nav-list-container {
    margin-right: $large-gutter-width;

    ul {
      line-height: 2;

      a {
        padding: 0 0 0 $small-gutter-width;
      }
    }
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

//////////////////////////////////////////////////////////////////////// gallery

#content {
  // offset by #side-nav
  margin-left: ($side-bar-width + $perfect-scrollbar-width);
  // 0 right padding to have the thumbs in #gallery wrap closer to the edge
  padding: $large-gutter-width 0 $large-gutter-width $large-gutter-width;

  @include xxs-xs {
    margin-left: 0;
  }

  // all children except #gallery get margin
  .stack:not(#gallery) {
    margin-right: $large-gutter-width;
  }
}

#gallery {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline-block;
    margin: 0 $small-gutter-width $small-gutter-width 0;
    width: 135px;
  }
}

.file-thumb {
  text-align: center;
  height: 110px;
  line-height: 100px;

  img, i {
    vertical-align: middle;
  }

  i {
    padding: 5px; // to match the 1px border + 4px padding of .img-thumbnail
  }
}

.file-details {
  margin-top: 2px;
}

.file-name {
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  color: #444;
}

.inline-left, .inline-right {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.inline-left {
  text-align: left;
}

.inline-right {
  text-align: right;
}

////////////////////////////////////////////////////////////////////////// forms

#curl-files-urls { // textarea
  height: 300px;
  white-space: nowrap;
}

#edit-file-caption { // textarea
  height: 100px;
}

////////////////////////////////////////////////////////////// library overrides

@import "angular.scss";
@import "ui-utils.scss";
@import "angular-file-upload.scss";
@import "angular-loading-bar.scss";
@import "bootstrap.scss";
@import "lightbox.scss";
@import "perfect-scrollbar.scss";
