<div class="modal-body" ng-controller="LightboxCtrl as lightbox"
    ng-swipe-left="Lightbox.prevImage()"
    ng-swipe-right="Lightbox.nextImage()">
  <!-- buttons -->
  <div class="lightbox-nav">
    <!-- close button -->
    <button type="button" class="close" aria-hidden="true"
        ng-click="$dismiss()">
      ×
    </button>

    <!-- navigation buttons -->
    <div class="btn-group">
      <button type="button" ng-click="Lightbox.prevImage()"
          class="btn btn-xs btn-default" title="Previous image">
        <i class="fa fa-fw fa-long-arrow-left"></i>
      </button>
      <button type="button" ng-click="Lightbox.nextImage()"
          class="btn btn-xs btn-default" title="Next image">
        <i class="fa fa-fw fa-long-arrow-right"></i>
      </button>
    </div>

    <!-- current image buttons -->
    <div class="btn-group">
      <a ng-href="{{Lightbox.image.getPath()}}" target="_blank"
          class="btn btn-xs btn-default" title="Open in new tab">
        <i class="fa fa-fw fa-search-plus"></i>
      </a>
      <a ng-href="{{Lightbox.image.getPath()}}" target="_self"
          download="{{Lightbox.image.name}}" class="btn btn-xs btn-default" title="Download">
        <i class="fa fa-fw fa-download"></i>
      </button>
    </div>

    <!-- admin buttons -->
    <div ng-if="lightbox.Auth.permissions.edit"
        file-edit-btn-group="Lightbox.image">
    </div>
  </div>

  <!-- image details -->
  <div class="lightbox-image-details details">
    <span>{{Lightbox.image.name}}</span>
    <span>{{Lightbox.image.formatDimensions()}}</span>
    <span>{{Lightbox.image.formatSize()}}</span>
    <span>{{Lightbox.image.formatDate()}}</span>
  </div>

  <!-- image -->
  <div class="lightbox-image-container">
    <div class="lightbox-image-caption">
      <span>{{Lightbox.image.caption}}</span>
    </div>
    <img lightbox-src="{{Lightbox.image.getPath()}}" alt="">
  </div>
</div>
