<div class="modal-body" ng-controller="LightboxCtrl"
    ng-swipe-left="Lightbox.prevImage()"
    ng-swipe-right="Lightbox.nextImage()">
  <!-- buttons -->
  <div class="lightbox-nav">
    <!-- close button -->
    <button class="close" aria-hidden="true" ng-click="$dismiss()">×</button>

    <div class="btn-group">
      <button class="btn btn-xs btn-default" ng-click="Lightbox.prevImage()">
        <i class="fa fa-fw fa-long-arrow-left"></i>
      </button>
      <button class="btn btn-xs btn-default" ng-click="Lightbox.nextImage()">
        <i class="fa fa-fw fa-long-arrow-right"></i>
      </button>
    </div>

    <div class="btn-group">
      <a ng-href="{{Lightbox.image.getPath()}}" target="_blank"
          class="btn btn-xs btn-default" title="Open in new tab">
        <i class="fa fa-fw fa-search-plus"></i>
      </a>
    </div>

    <div ng-if="Auth.permissions.edit" file-edit-btn-group="Lightbox.image">
    </div>
  </div>

  <!-- image details -->
  <div class="lightbox-image-details details">
    <span>{{Lightbox.image.name}}</span>
    <span>{{Lightbox.image.formatDimensions()}}</span>
    <span>{{Lightbox.image.formatSize()}}</span>
    <span>{{Lightbox.image.formatDate()}}</span>
  </div>

  <!-- image -->
  <div class="lightbox-image-container">
    <div class="lightbox-image-caption">
      <span>{{Lightbox.image.caption}}</span>
    </div>
    <img lightbox-src="{{Lightbox.image.getPath()}}" alt="">
  </div>
</div>
