<!-- controller: LoginCtrl as login -->

<!-- alerts -->
<div alerts="login.alerts"></div>

<!-- login form -->
<form ng-submit="login.login(login.credentials)" class="form-horizontal"
    role="form">
  <fieldset ng-disabled="login.disabled">

    <!-- email -->
    <div class="form-group">
      <label for="login-email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" required id="login-email"
            ng-model="login.credentials.email"
            ng-disabled="login.action === 'activate'">
      </div>
    </div>

    <!-- password -->
    <div class="form-group">
      <label for="login-password" class="col-sm-2 control-label">
        Password
      </label>
      <div class="col-sm-6">
        <input type="password" class="form-control" required id="login-password"
            ng-model="login.credentials.password">
      </div>
    </div>

    <!-- submit -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>

  </fieldset>
</form>
