<div ng-controller="NavCtrl"
    ng-show="RefilerModel.tags.length + RefilerModel.dirs.length > 0">
  <!-- search filter -->
  <input id="nav-list-filter" type="search" ng-model="searchText"
    placeholder="Filter tags and folders" class="form-control">

  <!-- navigation list of tags and dirs -->
  <div id="nav-list-container" perfect-scrollbar="perfectScrollbarOptions">
    <!-- tags -->
    <h2 ng-show="RefilerModel.tags.length > 0">
      <strong>Tags</strong>
      ({{filteredTags.length}} of {{RefilerModel.tags.length}})
    </h2>

    <ul class="nav">
      <li ng-repeat="tag in filteredTags = (RefilerModel.tags | filter: tagFilter(searchText))">
        <a href="#!/tag/{{tag.url}}" title="{{tag.caption}}"
            ng-class="{'selected': isSelected('tag', tag.id)}">
          <span ng-if="!highlightSearchText">{{tag.name}}</span>
          <span ng-if="highlightSearchText"
            ng-bind-html="tag.name | highlight: searchText"></span>
          <span class="details">
            {{tag.fileCount}}
            {{tag.childCount > 0 ? '~ ' + tag.childCount : ''}}
          </span>
        </a>
      </li>
    </ul>

    <!-- dirs -->
    <h2 ng-show="RefilerModel.dirs.length > 0">
      <strong>Folders</strong>
      ({{filteredDirs.length}} of {{RefilerModel.dirs.length}})
    </h2>

    <ul class="nav">
      <li ng-repeat="dir in filteredDirs = (RefilerModel.dirs | filter: dirFilter(searchText))">
        <a href="#!/dir/{{dir.path}}"
            ng-class="{'selected': isSelected('dir', dir.id)}"
            tooltip="{{dir.displayPath}}"
            tooltip-placement="right"
            tooltip-animation="false"
            tooltip-append-to-body="true">
          <span ng-if="!highlightSearchText">{{dir.displayPath}}</span>
          <span ng-if="highlightSearchText"
            ng-bind-html="dir.displayPath | highlight: searchText"></span>
          <span class="details">{{dirDetails(dir)}}</span>
        </a>
      </li>

    </ul>
  </div>
</div>
